@import 'variables';
@import "mixin";

.box{
    display: flex;
    &1{
        width: 200px;
        height: 200px;
        background-color: $red;
    }
    &2{
        width: 200px;
        height: 200px;
        background-color: $blue;
    }
    &3{
        width: 200px;
        height: 200px;
        background-color: $green;
    }
}